
.resourceClass{
  display: text-center;
  font-size: 10px;
}
.timeScale {
  grid-column-start: 1;
  grid-column-end: 45;
}
.grid-container {
  display: grid;
  width:100%;
  grid-template-areas: repeat(auto-fit,45);   
  background-color: #ffffff;
  padding: 0px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 10px;
    
}
.timed {
  padding-right: 0px;
padding-left: 0px;
}